
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex; 
    flex-direction: column;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row; 
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
}

main {
    padding: 1rem;
    display: flex;
    flex: auto;
    gap: 1rem; 
}


main article {
    background-color: #fff;
    padding: 1rem;
    flex: 2; 
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    overflow-y: auto
}


main aside {
    background-color: #eee;
    padding: 1rem;
    flex: 1; 
    border-radius: 5px;
    overflow-y: auto
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    display: flex;          
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}
